.fett{ 
    color: rgb(10, 255, 173)
}
body{
    background-color: cyan;
    font-family: "Courier New", 'Courier New', Courier, monospace
}
.blue{
    background-color: blue;
    color: antiquewhite;
    text-align: center;

}

.image{
    width: 200px;;
    height: auto;
    margin-left: 500px;
}